{{> user/userheader}}

  <body class="hold-transition sidebar-mini" style="height:auto;">
    <div class="wrapper">
      <!-- Navbar -->
{{>  user/userTopnav}}
    
 {{!--  <div class="container"> --}}
   <!-- Main Sidebar Container -->
<div class="content-wrapper">
<!-- Main content -->
    <section class="content">

  {{> user/message}}    
{{{ body}}}

  {{!-- </div> --}}
   </section>
    <div>
 
</div>
    

{{> user/userfooter}}

    
