
  <footer class="sticky-footer">
    <div class="container">
    <div class="text-center">
      <b>Version</b> 1.0.0
    </div>
    <strong>Copyright &copy; 2020 <a href="http://adminlte.io">Antonio Rodriguez Barrientos</a>.</strong> Project Experience.
  </footer>




<!-- ./wrapper -->

<!-- jQuery -->
<script src="/js/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/js/demo.js"></script>

  <!-- /.control-sidebar -->


</body>

<script>
  $(document).ready(function(){
    setTimeout(function(){
      $('.auto-hide').slideUp(300);
    },2000);
  })

 



</script>
</html>
 